# * ********************************************************************************************************* *
# *
# * Copyright 2025 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

version: '3'

services:
  {{ app_symbolic_name | mandatory }}:
    image: oidis/oidis-labs-app:{{ app_image_tag | mandatory }}
    restart: unless-stopped
    container_name: {{ app_symbolic_name | mandatory }}
    networks:
      - proxy-net
    volumes:
      - ./applog:/var/oidis/io-oidis-labs/log
      - ./app.config.jsonp:/var/oidis/io-oidis-labs/OidLabs.config.jsonp:ro
      - ./FileEntryBlobs:/var/oidis/io-oidis-labs/FileEntryBlobs
    deploy:
      resources:
        limits:
          memory: 512M

networks:
  proxy-net:
    external: true
