#!/bin/bash
# * ********************************************************************************************************* *
# *
# * Copyright 2023 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

db-backup.sh --type=mongo --dumpProxy=mongo-db --app="{{ app_db_collection }}" {% if app_db_encrypt_token is defined %} --encrypt-pass="{{ app_db_encrypt_token }}" {% endif %} \
 --db-name="{{ app_db_collection | mandatory }}" --db-user="{{ app_db_user | mandatory }}" --db-pass="{{ app_db_pass | mandatory }}" \
 --deploy="{{ backup_deploy_type | mandatory }}" --deploy-url="{{ backup_deploy_url | mandatory }}" --path="{{ backup_deploy_path | mandatory }}"
