global_defs {
    enable_script_security
    script_user {{ keepalived_user }}
}

vrrp_sync_group router {
  group {
    ETH0
    ETH1
  }
}

vrrp_track_process track_nginx {
    process nginx
    weight 0
}

vrrp_track_file track_maintenance_file {
    # write 0 to turn this machine into failure
    # write 1 to turn this machine as active
    # file is initialized to 0 by keepalived itself
    file {{ keepalived_maintenance_switch }}
}

vrrp_instance ETH0 {
  state BACKUP
  interface eth0
  virtual_router_id 11
  priority 101
  advert_int 1
  virtual_ipaddress {
    89.221.220.57
  }
  authentication {
    auth_type PASS
    auth_pass LEC6rk2Z
  }

  nopreempt
}

vrrp_instance ETH1 {
  state BACKUP
  interface eth1
  virtual_router_id 11
  priority 101
  advert_int 1
  virtual_ipaddress {
    192.168.1.1
  }
  authentication {
    auth_type PASS
    auth_pass LEC6rk2Z
  }

  track_process {
    track_nginx
  }

  track_file {
    track_maintenance_file weight 0
  }

  notify "{{ keepalived_notify_script }}"

  nopreempt
}
