#!/usr/bin/env bash
# * ********************************************************************************************************* *
# *
# * Copyright 2023 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

isMntOn=0
keepalivedSwitch="{{ keepalived_maintenance_switch }}"

function help() {
  echo "Switch virtual router to maintanance or regular mode."
  echo "Usage: {script-name} on|off [options]"
  echo "  -h|--help    Prints help"
  echo "  on           Turn on maintenance mode"
  echo "  off          Turn off maintenance mode"
}

function argParse() {
  for i in "$@"; do
    case $i in
    -h | --help)
      help
      exit 0
      ;;
    on)
      isMntOn=1
      shift
      ;;
    off)
      isMntOn=2
      shift
      ;;
    -* | *)
      logError "Unknown option $i"
      help
      exit 1
      ;;
    esac
  done
}

function mntOn() {
  echo "Maintenance: ON"
  echo "1" > "$keepalivedSwitch"
}

function mntOff() {
  echo "Maintenance: OFF"
  echo "0" > "$keepalivedSwitch"
}

argParse "$@"

if [[ $isMntOn == 1 ]]; then
  mntOn
elif [[ $isMntOn == 2 ]]; then
  mntOff
else
  help
  exit 0
fi
