# Oidis
options {
    directory "/var/bind";
    pid-file "/var/run/named/named.pid";
    listen-on { 127.0.0.1; {{ ansible_host }}; 192.168.1.1; };
    recursion yes;
    allow-query { any; };
    allow-recursion { 127.0.0.1/32; 192.168.1.0/24; };
    forwarders { 46.28.108.2; 31.31.72.3; };
    dnssec-validation yes;
};

zone "oidis.cloud" IN {
    type master;
    file "oidis.cloud.zone";
};

logging {
    channel default_log {
        file "/var/log/bind/default.log";
        print-time yes;
        print-category yes;
        print-severity yes;
        severity info;
    };
    channel error_log {
        file "/var/log/bind/error.log";
        print-time yes;
        print-category yes;
        print-severity yes;
        severity info;
    };

    category default { default_log; };
    category queries { default_log; };
    category query-errors { error_log; };
};
