$TTL 1D

@ IN SOA ns1.oidis.cloud. ns2.oidis.cloud. (
  {{ ansible_date_time.epoch }} ; Serial
  1D         ; Refresh
  1H         ; Retry
  1W         ; Expire
  3H         ; Cache
)

@          IN NS ns1.oidis.cloud.
@          IN A  {{ ansible_host }}
ns1        IN A  {{ ansible_host }}
vr-oidis-0 IN A  192.168.1.2
vr-oidis-1 IN A  192.168.1.3

; Variable entries below
