# * ********************************************************************************************************* *
# *
# * Copyright 2025 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

server {
    server_name {{ app_domain | mandatory }} www.{{ app_domain | mandatory }};
    listen 80;

    location / {
        set ${{ app_symbolic_name | regex_replace('[^\w]', '_') }} "{{ app_symbolic_name }}";
        proxy_pass http://${{ app_symbolic_name | regex_replace('[^\w]', '_') }}:9115$request_uri;

        proxy_buffering off;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_headers_hash_max_size 512;

        proxy_read_timeout 180;
        proxy_send_timeout 180;
        proxy_connect_timeout 180;

        if (-f /var/oidis/{{ app_unique_name }}/mnton.txt) {
            return 503;
        }
    }

    include /var/oidis/maintenance.page/*.conf;
}
