# * ********************************************************************************************************* *
# *
# * Copyright 2025 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

server {
    server_name {{ app_domain | mandatory }};
    listen 80;

    include /etc/nginx/certutil.conf;
    include /etc/nginx/utils/proxy-general.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name {{ app_domain }};
    listen 443 ssl;

    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;

    include /etc/nginx/utils/proxy-general.conf;

    location / {
        set $APPHOST "{{ app_internal_location | mandatory }}";
        proxy_pass http://$APPHOST$request_uri;

        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }
}
