# * ********************************************************************************************************* *
# *
# * Copyright 2022 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

PidFile=/var/run/zabbix/zabbix_agent2.pid

LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=10

ServerActive={{ zabbix_server | default("ops.oidis.cloud:33051") }}

Hostname={{ ansible_hostname }}.oidis.cloud

Timeout=30

TLSConnect=psk
TLSAccept=psk
TLSPSKFile={{ zabbix_psk_path }}
TLSPSKIdentity={{ zabbix_psk_identity | default("vps.prod.oidis.io") }}

# use echo $DOCKER_HOST to get proper url (env could be ignored when docker is running under root)
# ultra curly braces to escape jinja2
#UserParameter=oidis.status,export DOCKER_HOST=unix:///run/user/1000/docker.sock && echo "[$( docker stats --no-stream --format '{{ '{{ json . }}' }}','){}]"
