/* ********************************************************************************************************* *
 *
 * Copyright 2023 Oidis
 *
 * SPDX-License-Identifier: BSD-3-Clause
 * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
 * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
 *
 * ********************************************************************************************************* */
Io.Oidis.Builder.DAO.Resources.Data({
    domain: {
        location: "{{ app_domain | mandatory }}",
        origins: {{ app_origins | to_json }},
        ssl: {
            enabled: false
        }
    },
    slack: {
        token: "{{ slack_token | mandatory }}",
        icon: "https://{{ app_domain | mandatory }}/resource/graphics/Io/Oidis/Hub/Gui/LogoSymbol.png",
        name: "{{ slack_name | mandatory }}"
    },
    deploy: {
        slackChannel: "dashboard"
    },
    dbConfigs: {
        dev: {
            dbName: "{{ app_db_collection }}",
            port: 27017,
            location: "{{ app_db_location | mandatory }}",
            user: "{{ app_db_user | mandatory }}",
            pass: "{{ app_db_pass | mandatory }}"
        },
        prod: {
            dbName: "{{ app_db_collection }}",
            port: 27017,
            location: "{{ app_db_location | mandatory }}",
            user: "{{ app_db_user | mandatory }}",
            pass: "{{ app_db_pass | mandatory }}"
        }
    },
    sendmail: {
        serviceType: "",
        user: "",
        pass: "",
        secure: false,
        defaultSender: "{{ sendmail_default_sender | mandatory }}",
        location: "{{ sendmail_location | mandatory }}",
        port: 25
    },
    target: {
        ga4ID: "{{ app_ga4id }}",
        appDataPath: "/opt/oidis/io-oidis-hub",
        environmentType: "{{ app_environment_type | mandatory }}",
        metrics: {
            enabled: false
        }
    }
});

