/* ********************************************************************************************************* *
 *
 * Copyright 2023 Oidis
 *
 * SPDX-License-Identifier: BSD-3-Clause
 * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
 * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
 *
 * ********************************************************************************************************* */

Io.Oidis.Builder.DAO.Resources.Data({
    noReport: true,
    noSudo: true,
    noSelfupdate: true,
    noAutoinstall: true,
    dockerRegistry: {
        email: "{{ builderDockerEmail | mandatory }}",
        pass: "{{ builderDockerPass | mandatory }}",
        user: "{{ builderDockerUser | mandatory }}"
    }
});
