#/* ********************************************************************************************************* *
# *
# * Copyright 2022-2023 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* */
version: '3'

services:
  proxy:
    image: nginx:1.23.4
    restart: unless-stopped
    container_name: proxy
    ports:
      - "8080:80"
      - "8443:443"
      - "31136:31126"
      - "31137:31127"
      - "31138:31128"
      - "31139:31129"
    networks:
      - proxy-net
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ oidis_apps_path }}:/var/oidis:ro

networks:
  proxy-net:
    external: true
