# * ********************************************************************************************************* *
# *
# * Copyright 2023 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

server {
    server_name {{ app_domain | mandatory }} www.{{ app_domain | mandatory }};
    listen 80;

    location / {
        root /var/oidis/{{ app_unique_name }};
    }
}
