# * ********************************************************************************************************* *
# *
# * Copyright 2023 Oidis
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

serverUrl={{ tcServerUrl }}
name={{ tcAgentName }}
workDir=../work
tempDir=../temp
systemDir=../system

env.DOCKER_HOST=unix:///run/user/{{ agent_user_info.uid }}/docker.sock
env.XDG_RUNTIME_DIR=/run/user/{{ agent_user_info.uid }}
env.PATH=/home/{{ oidis_user }}/.local/bin:/home/{{ oidis_user }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin

system.opsType={{ tcAgentType | mandatory }}

# if you want to use docker runner with rootless docker then this feature needs to be disabled
# to prevent implicitly added publishing step with some "chown" operations
teamcity.docker.chown.enabled=false

system.teamcity.agent.ensure.free.space={{ tcAgentFreeSpace | default("2gb") }}

authorizationToken={{ authToken | default("unknown") }}
